<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is a download test setup page</h1>
    <form action="download-file/A0-CU2023XX7L69OL1PID1YYU.png">
      <button type="submit">DOWNLOAD</button>
    </form>
  </body>
</html>
