<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is a download test setup page</h1>
    <input type="text" name="Barcode" id="barcodeInput" />
    <form action="download/pdfQR/CU2023DZC5HSG8QYJRY48C">
      <button type="submit">DOWNLOAD AS PDF</button>
    </form>
    <form action="download/svgQR/CU2023DZC5HSG8QYJRY48C">
      <button type="submit">DOWNLOAD AS SVG</button>
    </form>
    <form action="download/pngQR/CU2023DZC5HSG8QYJRY48C">
      <button type="submit">DOWNLOAD AS PNG</button>
    </form>
  </body>
</html>
